# FOR URL REWRITING
<IfModule mod_rewrite.c>
RewriteEngine on

# item
RewriteRule ^item/([\d]+)/?$ item.enc.php?val=$1

# property
RewriteRule ^property/?$ property.enc.php

# for index
RewriteRule ^([\d]*)/?$ index.php?page=$1

</IfModule>