# FOR URL REWRITING
<IfModule mod_rewrite.c>
RewriteEngine on

# for article
RewriteRule ^article/([\w\+\s\-\&\,\;\'\:]*)/?$ article.enc.php?title=$1

# for index
RewriteRule ^([\d]*)/?$ index.php?page=$1

</IfModule>